---
import Layout from '../layouts/Home.astro';
import Avatar from '../components/Avatar.astro';
import Link, { type Props as LinkProps } from '../components/Link.astro';
import Footer from '../components/Footer.astro';
import SocialMedia from '../components/SocialMedia.astro';

import ProfileData from '../profile-data.json';
globalThis.profileData = ProfileData;

export type NavLinks = LinkProps & { text: string };

const homeNavLinks: Array<NavLinks> = [
	{
		text: 'Hire Me',
		href: '/hire-me',
		variant: 'contained',
		openInNewTab: true
	},
	{
		text: 'Resume',
		href: './docs/sahil_resume.pdf',
		variant: 'outlined',
		openInNewTab: true
	},
	{
		text: 'Experience',
		href: '/experience',
		variant: 'outlined'
	},
	{
		text: 'My Work',
		href: '/my-work',
		variant: 'outlined'
	}
];
---

<Layout title="नमस्कार | Hello">
	<SocialMedia />
	<main class="h-screen flex flex-col gap-6 sm:gap-0 sm:justify-between pt-8 sm:pt-16">
		<div>
			<div class="flex justify-center mb-8">
				<Avatar />
			</div>
			<div>
				<h1 class="text-3xl text-center">
					{globalThis.profileData.name}
				</h1>
				<p class="text-center font-light">
					{globalThis.profileData.bio}
				</p>
			</div>
		</div>
		<div class="flex flex-col gap-6 w-2/3 sm:w-1/3 text-center mx-auto">
			{
				homeNavLinks.map(({ text, href, variant, openInNewTab }) => (
					<Link
						href={href}
						variant={variant}
						openInNewTab={openInNewTab}
					>
					{ text }
					</Link>
				))
			}
		</div>
		<div class="flex items-end justify-center py-8">
			<Footer />
		</div>
	</main>
</Layout>